[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
numpy = "<2"
torch-vision = "*"
tabulate = "*"
depyf = "*"
ipython = "*"
transformers = "*"
pillow = "*"
requests = "*"

[dev-packages]
black = "*"
isort = "*"
ipykernel = "*"

[requires]
python_version = "3.11"
