[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
numpy = "<2"
torch-vision = "*"
tabulate = "*"
depyf = "*"
ipython = "*"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.11"
